[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
watchdog = "*"
pandas = "*"
gspread = "*"
gspread-pandas = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.9"
